In [118]:
#markdown: kalau mau buat judul
print("Selamat Pagi Dunia!")

Selamat Pagi Dunia!

Ini Judul

In [119]:
#List
a = [] #empty list
a = ["1", "2"] #list with 2 elements
b = ["string", 10] #list with different types of element

print("a = ",a)
print("b = ",b)

a =  ['1', '2']
b =  ['string', 10]

In [120]:
print(2 > 3)
print(5 < 3)
print(10 == 10)

False
False
True

In [121]:
#Add element to the list
b.append("integer")
print("b = ",b)

b =  ['string', 10, 'integer']

In [122]:
#Add element to the list
b = b + ["tambah lagi"]
print("b = ",b)

b =  ['string', 10, 'integer', 'tambah lagi']

In [123]:
#Tuple
c = (0, 2)
d = ("a", "b", "c")
print(c)
print(d)

(0, 2)
('a', 'b', 'c')

In [124]:
#Data Integration
import pandas as pd
import numpy as np

In [125]:
#Merging
left = pd.DataFrame({'key' : ['K0', 'K1', 'K2'],
                   'A' : ['A0', 'A1', 'A2'],
                    'B' : ['B0', 'B1', 'B2']})

right = pd.DataFrame({'key' : ['K0', 'K1', 'K2'],
                   'C' : ['C0', 'C1', 'C2'],
                    'D' : ['D0', 'D1', 'D2']})

result = pd.merge(left, right, on = 'key')
result

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2

In [127]:
#Merging Multiple Key
left = pd.DataFrame({'key1' : ['K0', 'K1', 'K2', 'K3'],
                     'key2' : ['K0', 'K1', 'K0', 'K1'],
                   'A' : ['A0', 'A1', 'A2', 'A3'],
                    'B' : ['B0', 'B1', 'B2', 'B3']})

right = pd.DataFrame({'key1' : ['K0', 'K1', 'K2', 'K3'],
                      'key2' : ['K0', 'K0', 'K0', 'K0'],
                   'C' : ['C0', 'C1', 'C2', 'C3'],
                    'D' : ['D0', 'D1', 'D2', 'D3']})

result2 = pd.merge(left, right, on = ['key1', 'key2'])
result2

#Concate
#Merging data from Excel
z = pd.read_csv('Lokasi dan Judul File')
y = pd.read_csv('Lokasi dan Judul File')

merged = pd.merge(z, y, on = 'variabelnya yang sama')
merged.head() #biar ga semua muncul datanya kalau ada banyak

#Export Data
#z.to_csv("merged.csv")

FileNotFoundError: File b'Lokasi dan Judul File' does not exist

In [128]:
import pandas as pd

#Merging data from Excel
z = pd.read_csv('Book2.csv')
y = pd.read_csv('Book3.csv')

In [129]:
z

  KELAS  TEFL
0     A   567
1     B   544
2     B   432
3     B   522
4     C   546
5     A   543

In [130]:
y

  KELAS  TEFL
0     A   610
1     B   511
2     B   600
3     B   510
4     C   399
5     A   409

In [131]:
merged = pd.merge(z, y, on = 'KELAS')
merged.to_csv('TEFLmerged.csv')
merged #biar ga semua muncul datanya kalau ada banyak

   KELAS  TEFL_x  TEFL_y
0      A     567     610
1      A     567     409
2      A     543     610
3      A     543     409
4      B     544     511
5      B     544     600
6      B     544     510
7      B     432     511
8      B     432     600
9      B     432     510
10     B     522     511
11     B     522     600
12     B     522     510
13     C     546     399

In [133]:
#pd.concat bisa buat gabungin frame
#df1 = pd.DataFrame(key: value)
#df2 = pd.DataFrame(key: value)
#frame = [df1, df2]
#pd.concat(frame)


df1 = pd.read_csv('Book2.csv')
df2 = pd.read_csv('Book3.csv')

merged = pd.merge(df1, df2, on = 'KELAS')
merged2 = pd.concat([df1, df2])
merged2

  KELAS  TEFL
0     A   567
1     B   544
2     B   432
3     B   522
4     C   546
5     A   543
0     A   610
1     B   511
2     B   600
3     B   510
4     C   399
5     A   409